#wordle-tab-pane {
	.wordle-answer {
		font-size: 0.8em !important;
		min-width: 4.1em;
	}

	.reveal-button {
		padding: 0 1em;
	}

	.bar {
		background-color: var(--green);
	}

	.header-row > th.result-header {
		min-width: 2.75em;
		height: 4em;
	}
}
