html 
head

body(style="background-color:#222222;")
    svg(id="my-svg" width="400" height="400" viewBox="0 0 900 900" xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/2000/xlink")
        defs 
           
        rect(x="0" y="0" height="900" width="900" fill="#000")
script(src="/js/test.js" type="module" defer)
