.modal#clear-all-modal(tabindex="-1" aria-labelledby="clear-all-label" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false")
    .modal-dialog.modal-dialog-centered
        .modal-content#clear-all-modal-content
            .modal-header
                h5.modal-title#clear-all-label Clear Calculation?
            .modal-body Are you sure you want to clear this calculation?
            .modal-footer
                button#confirm-clear-all.btn.btn-primary(type="button") Yes
                button#cancel-clear-all.btn.btn-secondary(type="button") No